<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="Stylesheet" href="../../Content/SiteStyle.css" />
    <script src="../../Scripts/FloatScript.js"></script>
</head>
<body>
   @RenderSection("Header")
   @RenderBody()
   @RenderSection("Footer")
</body>
</html>
